.mondido-overlay {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #e8e8e8;
}

.mondido-overlay img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.payment_module a.mondidopay {
    background: url(../img/card-64x64.png) 15px 15px no-repeat #fbfbfb;
}

p.payment_module a.mondidopay:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}
